<table class="w-full section-3">
  <tr>
    <td class="text-2xl text-center pb-vertical font-bold px-[50px] pt-[37px] pb-[15px]">
        Sint cupidatat occaecat ut
    </td>
  </tr>
  <tr>
    <td class="p-5 card-details">
      <table class="w-full"> 
        <tr class="flex flex-wrap">
          <td class="card w-[270px] bg-white text-center">
            <table>
              <tr>
                <td class="mx-auto">
                  <x-image class="w-[100px] h-[100px] rounded-full mt-[26px] mb-[15px]" imgUrl="image-3.png"/>
                </td>
              </tr>
              <tr>
                <td class="card-header text-xl font-bold pb-[15px]">
                  Nisi ut ade
                </td>
              </tr>
              <tr>
                <td class="text-base px-[25px] pb-[25px]">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<sup>1</sup>
                </td>
              </tr>
            </table>
          </td>
          <td class="card w-5 h-[35px]"></td>
          <td class="card w-[270px] bg-white text-center">
            <table>
              <tr>
                <td class="mx-auto">
                  <x-image class="w-[100px] h-[100px] rounded-full mt-[26px] mb-[15px]" imgUrl="image-3.png"/>
                </td>
              </tr>
              <tr>
                <td class="card-header text-xl font-bold pb-[15px]">
                  Duis aute irure
                </td>
              </tr>
              <tr>
                <td class="text-base px-[25px] pb-[25px]">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<sup>2</sup>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
